<table class="table table-zebra w-full">
  <thead>
    <tr>
      <td>Actions</td>
    </tr>
  </thead>
  <tr>
    <td>
      <%= render ActionsColumnComponent.new(
        actions: [
          EditActionComponent.new(
            href: "/items/1/edit",
            turbo_frame: "item_form",
            size: :xs
          ),
          DeleteActionComponent.new(
            href: "/items/1",
            size: :xs
          )
        ]
      ) %>
    </td>
  </tr>
</table>
