<div
  role="alert"
  class="alert <%= alert_class %>"
  data-controller="notification"
  data-notification-delay-value="5000"
>
  <%= render IconComponent.new(name: icon_name, css_class: "shrink-0 stroke-current") %>
  <span><%= @message %></span>
  <button class="btn btn-sm btn-ghost" data-action="click->notification#hide">
    <%= render IconComponent.new(name: :close, size: :sm) %>
  </button>
</div>
