<div class="p-8 flex gap-6">
  <%= render IconComponent.new(name: :success, css_class: "text-success") %>
  <%= render IconComponent.new(name: :error, css_class: "text-error") %>
  <%= render IconComponent.new(name: :info, css_class: "text-info") %>
  <%= render IconComponent.new(name: :close, css_class: "text-warning") %>
</div>
