<div class="p-8 flex gap-6">
  <%= render IconComponent.new(name: :hashtag, fill: "currentColor", css_class: "text-primary") %>
  <%= render IconComponent.new(name: :hashtag, fill: "currentColor", css_class: "text-secondary") %>
  <%= render IconComponent.new(name: :hashtag, fill: "currentColor", css_class: "text-accent") %>
</div>
