<li>
  <%= link_to @label, @index_href, class: (@active ? "active" : nil) %>
  <% if has_subitems? %>
    <ul>
      <% subitems.each do |subitem| %>
        <%= subitem %>
      <% end %>
    </ul>
  <% end %>
</li>
