<table class="table table-zebra w-full">
  <thead>
    <tr>
      <td>Type</td>
    </tr>
  </thead>
  <tr>
    <td>
      <%= render Table::Columns::BadgeColumnComponent.new(
        header: "Type",
        value: -> { "scaled" }
      ) %>
    </td>
  </tr>
</table>
