<tr class="project" id="<%= dom_id(project) %>">
  <td class="title">
    <%= link_to project.title, project_path(project),
      data: { turbo_frame: "_top" },
      class: "link link-hover" %>
  </td>
  <td class="actions">
    <div class="flex gap-2">
      <%= render EditActionComponent.new(
        href: edit_project_path(project),
        turbo_frame: dom_id(Project.new),
        size: :xs
      ) %>
      <%= render DeleteActionComponent.new(
        href: project_path(project),
        size: :xs
      ) %>
    </div>
  </td>
</tr>
