<div>
  <%= render BreadcrumbsComponent.new(@project, "Edit") %>
  <div class="project">
    <%= render PageHeaderComponent.new(@project) %>
    <%= turbo_frame_tag Project.new do %>
      <%= render partial: "form", locals: {project: @project} %>
    <% end %>
  </div>
</div>
