<div>
  <%= breadcrumbs(@project, "Edit") %>
  <div class="project">
    <%= page_header @project.title %>
    <div class="details bg-base-100 rounded-lg p-6">
      <%= render "form", project: @project %>
    </div>
  </div>
</div>