<div>
  <%= render BreadcrumbsComponent.new(Project) %>
  <div class="projects">
    <%= page_header Project, actions: [{ 
      label: "Create", 
      link: new_project_path, 
      options: { data: { turbo_frame: dom_id(Project.new) } }
    }] %>
    <%= turbo_frame_tag Project.new %>
    <div class="list">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="projects">
          <%= render @projects %>
          <% if @projects.empty? %>
            <tr>
              <td id="empty" colspan="2" class="text-center py-6 text-base-content/60 italic">
                No existing projects
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>