<div>
  <%= render BreadcrumbsComponent.new(@project) %>
  <div class="project">
    <%= page_header @project %>
    <%= turbo_frame_tag @project do %>
      <%= render partial: "form", locals: {project: @project} %>
    <% end %>
  </div>
</div>
