<div>
  <%= render Layout::BreadcrumbsComponent.new(@project) %>
  <div class="project">
    <%= render Layout::PageHeaderComponent.new(@project) %>
    <%= turbo_frame_tag @project do %>
      <%= render partial: "form", locals: {project: @project} %>
    <% end %>
  </div>
</div>
