<%= turbo_frame_tag "effort-sidebar" do %>
  <div class="effort">
    <%= page_header @effort, actions: @is_edit ? [] : [
        {
            label: "Add Child",
            link: new_project_effort_path(@project, parent_id: @effort.id),
            options: {data: { turbo_frame: "effort-sidebar"}}
        },
        { 
            label: "Edit", 
            link: edit_project_effort_path(@project, @effort), 
            options: {data: { turbo_frame: "effort-sidebar" }}
        },
        {
            label: "Delete",
            type: :button_to,
            link: project_effort_path(@project, @effort), 
            options: {data: {turbo_method: :delete}}
        }
    ] %>
    <div class="details bg-base-100 rounded-lg p-6">
      <% if @is_edit %>
        <%= render partial: "form" %>
      <% else %>
        <%= render partial: "effort_details", locals: {effort: @effort}%>
      <% end %>
    </div>
  </div>
<% end %>