<div id="effort-details">
  <%= render Display::PropertyListComponent.new(wrapper: false) do |list| %>
    <% list.with_property_prose(label: "Description", value: effort.description, css_class: "description prose prose-sm max-w-none bg-base-200 rounded p-3") %>
  <% end %>
</div>