<div>
  <%= render Layout::BreadcrumbsComponent.new(@project, @category, "Edit") %>
  <div class="category">
    <%= render Layout::PageHeaderComponent.new(@category) %>
    <%= turbo_frame_tag Category.new do %>
      <%= render partial: "form", locals: {project: @project, category: @category} %>
    <% end %>
  </div>
</div>
