<div role="alert" class="alert alert-error mb-4">
  <%= render IconComponent.new(name: :error, css_class: "shrink-0 stroke-current") %>
  <div>
    <h3 class="font-bold">Validation Error</h3>
    <div class="text-xs"><%= error_message %></div>
  </div>
</div>
